{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>Вход</h1>
    {% if logged_in  %} <h1>Вы залогинились</h1> {% endif %}
    <form action="{% url 'make-login-url' %}" method="POST">
      {% csrf_token %}
      <input type="email" name="email" placeholder="email" required>
      <input type="password" name="password" placeholder="Пароль" required>
      <button type="submit">Войти</button>
    </form>
     {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
     {% endif %}
    <p>Нет аккаунта? <a href="{% url 'register-url' %}">Зарегистрироваться</a></p>
  </div>
</body>
</html>